[submodule "ttk"]
	path = ttk
	url = https://github.com/topology-tool-kit/ttk
[submodule "paraview-ttk"]
	path = paraview-ttk
	url = https://github.com/pierre-guillou/paraview-ttk
[submodule "zfp"]
	path = zfp
	url = https://github.com/LLNL/zfp
[submodule "qt5"]
	path = qt5
	url = https://code.qt.io/qt/qt5.git
[submodule "ospray"]
	path = ospray
	url = https://github.com/ospray/ospray.git
